<nav id="navbar-example2" class="navbar bg-warning px-3 mb-3">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">First</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">Second</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
               <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
               <li><hr class="dropdown-divider"></li>
               <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
            </ul>
        </li>
        <li>
            <button class="btn btn-dark" (click)="abrirCarrito()">
               Mostrar Carrito {{listaCarrito.length}}
            </button>
        </li>
    </ul>
</nav>

<div class="container">
    <h1>PROTEINAS</h1>
    <app-catalogo  
        [listaProductos]="listaProductos" 
        (productoEnvia)="agregarCarrito($event)">
    </app-catalogo>
    @if(mostrarCarrito){
        <div class="abrir-modal animacion fadeIn">
            <div class="modal" style="display: block;" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Carrito de Compra</h5>
                            <button type="button" (click)="abrirCarrito()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <app-carrito
                                [listaCarrito]="listaCarrito" 
                                [totalCarrito]="totalCarrito" 
                                (idEnvia)="eliminarItemCarrito($event)">
                            </app-carrito>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="abrirCarrito()">
                                Cerrar
                            </button>
                            <button type="button" class="btn btn-primary" (click)="irAOrden()">
                                Generar Pedido
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    }    
</div>
