<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
  <div class="card shadow-lg p-4" style="width: 22rem;">
    <div class="text-center mb-3">
      <h3 class="fw-bold text-dark">EsencialFit</h3>
      <p class="text-muted">Selecciona tu tipo de acceso</p>
    </div>

    <div class="d-grid gap-3">
      <button class="btn btn-primary btn-lg fw-semibold" (click)="irCatalogo()">
        <i class="bi bi-person"></i> Usuario
      </button>

      <button class="btn btn-success btn-lg fw-semibold" (click)="irAdministrador()">
        <i class="bi bi-shield-lock"></i> Administrador
      </button>
    </div>
  </div>
</div>
